a:link, a:visited{
    color: rgb(163, 157, 157);
    text-decoration:none;
    transition: 0.5s;
}
#navbar{
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: auto;
    z-index: 999;
    transition: all 0.3s;
    background-color: rgb(10, 10, 10);
    border-style: ridge;
    color: white;
    font-size: 25px;
    font-family:'Blaka Hollow', cursive;
}
body{
    margin-left: 28%;
    font-family: 'Lobster', cursive;
}
#tartalom{
    font-size: 2.5em;
}
p{
    font-size: 3em;
}
h2{
    font-size: 5em;
}
a:hover{
    background-color: rgb(163, 157, 157);
    color:rgb(10, 10, 10);
    transition: 0.3s;
    border-radius: 20%;
}